@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.keyboard-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #333;
  font-size: 20px;
  text-align: center;
  visibility: hidden;

  &.visible {
    visibility: visible;
    animation: slideUp 1s;
  }

  &.hidden {
    display: none;
  }

  .keyboard-title {
    position: relative;
    font-size: 12px;
    width: 100%;
    line-height: 3em;
    border-top: 1px solid #ececec;

    .complete {
      display: inline-block;
      position: absolute;
      right: 2em;
      top: 0;
      line-height: 1;
      padding: 1em;
      cursor: pointer;
    }
  }

  .key-item {
    font-size: 30px;
    box-sizing: border-box;
    width: calc(100% / 3);
    line-height: 2em;
    background: #fff;
    border:solid #ececec;
    border-width: 1px 1px 0 0;
    cursor: pointer;

    &:nth-child(3n - 1) {
      border-left-width: 1px;
    }
    &:nth-last-child(-n +3) {
      border-bottom-width: 1px;
    }

    &:active {
      background-color: #ececec;
    }
  }
}